<?xml version="1.0"?>
<configuration>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://192.168.0.98:2100/ServiceSE" binding="netTcpBinding" bindingConfiguration="CliengBinding" contract="SE.IServiceSE" name="NetTcpBinding_IServiceSE"/>
      <endpoint address="net.tcp://192.168.0.98:4100/ServiceBE" binding="netTcpBinding" bindingConfiguration="CliengBinding" contract="BE.IServiceBE" name="NetTcpBinding_IServiceBE"/>
      <endpoint address="net.tcp://192.168.0.98:5100/ServiceAE" binding="netTcpBinding" bindingConfiguration="CliengBinding" contract="AE.IServiceAE" name="NetTcpBinding_IServiceAE"/>
      <endpoint address="net.tcp://192.168.0.98:6100/ServiceME" binding="netTcpBinding" bindingConfiguration="CliengBinding" contract="ME.IServiceME" name="NetTcpBinding_IServiceME"/>
      <endpoint address="net.tcp://192.168.0.98:7100/ServiceLE" binding="netTcpBinding" bindingConfiguration="CliengBinding" contract="LE.IServiceLE" name="NetTcpBinding_IServiceLE"/>
      <endpoint address="net.tcp://localhost:8100/ServiceEE" binding="netTcpBinding" bindingConfiguration="CliengBinding" contract="EE.IServiceEE" name="NetTcpBinding_IServiceEE"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="CliengBinding" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxConnections="10" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>